@*
 @model FirstPro.Models.Recipe

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Home.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/LogReg/css/opensans-font.css">
	<link rel="stylesheet" type="text/css" href="~/LogReg/fonts/line-awesome/css/line-awesome.min.css">
	<!-- Jquery -->
	<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="~/LogReg/css/style.css"/>
	<style>
		.custom-file-upload {
    position: relative;
    margin-bottom: 20px;
}

.file-upload {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-top: 8px;
}

.file-upload input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-upload-btn {
    display: inline-block;
    padding: 8px 20px;
    background-color:forestgreen;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.file-upload-btn:hover {
    background-color:#7dcce6 ;
}
.custom-select-dropdown {
    margin-bottom: 20px;
}

.select-dropdown {
    position: relative;
    display: inline-block;
}

.select-dropdown select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px 30px 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    color: #333;

}

.select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #666 transparent transparent transparent;
    pointer-events: none;
}
     .hero-image {
            background-image: url('https://uicreative.s3.ap-southeast-1.amazonaws.com/wp-content/uploads/2019/10/24034634/hero-header-secret-recipe-restaurant.jpg');
            background-size: cover;
            background-position: center;
            height: 300px; /* Adjust the height as needed */
        }
		.hero-heading {
            text-align: center;
            font-weight: bold;
            font-size: 32px; /* Adjust the font size as needed */
            font-family:  sans-serif; /* Use your desired decorative font */
			position:center;
			
        }
		
		

	</style>


</head>
<body> 

	<div class="hero-image"></div>

	<div class="form-v7">

	<div class="page-content">

		<div class="form-v7-content">

			<div class="form-left">
				<img src="~/LogReg/images/recipe.jpg" alt="form">

			</div>

			
<div> 
    <h>Are you sure you want to delete this?</h>
    
        
           <h6> @Html.DisplayNameFor(model => model.Recipename)</h6>
        
           <h5>@Html.DisplayFor(model => model.Recipename)</h5>
       
    
    <form asp-action="Delete">
        <div class="form-row-last">
                    <input type="hidden" asp-for="Recipeid" />

					<input style="background-color:forestgreen ;position:center" type="submit" class="register" value="Delete Recipe ">
	
    </form>
</div>
				
		</div>
	</div>
		</div>

	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	


</body>
</html>
*@



@*@model FirstPro.Models.Recipe

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Home.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="~/LogReg/css/opensans-font.css">
    <link rel="stylesheet" type="text/css" href="~/LogReg/fonts/line-awesome/css/line-awesome.min.css">
    <!-- Jquery -->
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/LogReg/css/style.css"/>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .custom-file-upload {
            position: relative;
            margin-bottom: 20px;
        }

        .file-upload {
            display: inline-block;
            position: relative;
            overflow: hidden;
            margin-top: 8px;
        }

        .file-upload input[type=file] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        .file-upload-btn {
            display: inline-block;
            padding: 8px 20px;
            background-color:forestgreen;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        }

        .file-upload-btn:hover {
            background-color:#7dcce6 ;
        }

        .custom-select-dropdown {
            margin-bottom: 20px;
        }

        .select-dropdown {
            position: relative;
            display: inline-block;
        }

        .select-dropdown select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 8px 30px 8px 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #fff;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

        .select-arrow {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 6px 0 6px;
            border-color: #666 transparent transparent transparent;
            pointer-events: none;
        }

        .hero-image {
            background-image: url('https://uicreative.s3.ap-southeast-1.amazonaws.com/wp-content/uploads/2019/10/24034634/hero-header-secret-recipe-restaurant.jpg');
            background-size: cover;
            background-position: center;
            height: 300px; /* Adjust the height as needed */
        }

        .hero-heading {
            text-align: center;
            font-weight: bold;
            font-size: 32px; /* Adjust the font size as needed */
            font-family:  sans-serif; /* Use your desired decorative font */
            position:center;
        }

        /* Additional styling for the card */
        .card {
            margin-top: 20px;
        }

        .card-header {
            background-color: #007bff;
            color: #fff;
        }

        .card-body {
            background-color: #f8f9fa;
        }

    </style>


</head>
<body> 

    <div class="hero-image"></div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="background-color:burlywood;color:black;font-weight:bold;position:center">
                        Are you sure you want to delete this?
                    </div>
                    <div class="card-body">
                        <h6 style="font-weight:bold">Recipe Information</h6>
                        <h6 ><img style="position:center;width:200px;height:150px" src="@Url.Content("~/Images/" + Model.Imagepath)"   /></h6>
                        <h5> name :@Html.DisplayFor(model => model.Recipename)</h5>
                        <h5> price: @Html.DisplayFor(model => model.Price)</h5>
                        <h5> chef Name: @Html.DisplayFor(model => model.User.Fname)</h5>
                        <h5> Discription: @Html.DisplayFor(model => model.Discription)</h5>

                        <form asp-action="Delete">
                            <div class="form-row-last">
                                <input type="hidden" asp-for="Recipeid" />
                                <input style="background-color:burlywood; margin-top: 10px;color:black;font-weight:bold" type="submit" class="btn btn-danger" value="Delete Recipe" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>


*@





@*@model FirstPro.Models.Recipe

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagepath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagepath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creatdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creatdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Categoryid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Recipeid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
*@
@model FirstPro.Models.Recipe

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Home.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="~/LogReg/css/opensans-font.css">
    <link rel="stylesheet" type="text/css" href="~/LogReg/fonts/line-awesome/css/line-awesome.min.css">
    <!-- Jquery -->
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/LogReg/css/style.css"/>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .custom-file-upload {
            position: relative;
            margin-bottom: 20px;
        }

        .file-upload {
            display: inline-block;
            position: relative;
            overflow: hidden;
            margin-top: 8px;
        }

        .file-upload input[type=file] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        .file-upload-btn {
            display: inline-block;
            padding: 8px 20px;
            background-color:forestgreen;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        }

        .file-upload-btn:hover {
            background-color:#7dcce6 ;
        }

        .custom-select-dropdown {
            margin-bottom: 20px;
        }

        .select-dropdown {
            position: relative;
            display: inline-block;
        }

        .select-dropdown select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 8px 30px 8px 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #fff;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

        .select-arrow {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 6px 0 6px;
            border-color: #666 transparent transparent transparent;
            pointer-events: none;
        }

        .hero-image {
            background-image: url('https://uicreative.s3.ap-southeast-1.amazonaws.com/wp-content/uploads/2019/10/24034634/hero-header-secret-recipe-restaurant.jpg');
            background-size: cover;
            background-position: center;
            height: 300px; /* Adjust the height as needed */
        }

        .hero-heading {
            text-align: center;
            font-weight: bold;
            font-size: 32px; /* Adjust the font size as needed */
            font-family:  sans-serif; /* Use your desired decorative font */
            position:center;
        }

        /* Additional styling for the card */
        .card {
            margin-top: 20px;
        }

        .card-header {
            background-color: #007bff;
            color: #fff;
        }

        .card-body {
            background-color: #f8f9fa;
        }

    </style>


</head>
<body> 

    <div class="hero-image"></div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="background-color:burlywood;color:black;font-weight:bold;position:center">
                        Are you sure you want to delete this?
                    </div>
                    <div class="card-body">
                        <h6 style="font-weight:bold">Recipe Information</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <img style="width:100%;" src="@Url.Content("~/Images/" + Model.Imagepath)" />
                                <form asp-action="Delete">
                                    <div class="form-row-last">
                                        <input type="hidden" asp-for="Recipeid" />
                                        <input style="background-color:burlywood; margin-top: 10px;color:black;font-weight:bold" type="submit" class="btn btn-danger" value="Delete Recipe" />
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <h5> Name: @Html.DisplayFor(model => model.Recipename)</h5>
                                <br />
                                <h5> Price: @Html.DisplayFor(model => model.Price)</h5>
                                <br />
                                <h5> Chef Name: @Html.DisplayFor(model => model.User.Fname)</h5>
                                <br />
                                <h5> Description: @Html.DisplayFor(model => model.Discription)</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
