@*@model FirstPro.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoryname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoryname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagepath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagepath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Categoryid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@
@model FirstPro.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
    <div class="card mx-auto" style="max-width: 400px; margin:30px">
                    <h1 class="card-title">Category Details</h1>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-5">Category Name:</dt>
                        <dd class="col-sm-7">@Model.Categoryname</dd>
 <img src="@Url.Content("~/Images/" + @Model.Imagepath)" class="card-img-top" alt="Recipe Image" style="border-radius: 20%;" width="200" height="200" />

                    </dl>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Edit" asp-route-id="@Model?.Categoryid" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>


