@model IEnumerable<FirstPro.Models.Recipe>

@{
    Layout = "~/Views/Shared/Home.cshtml";
    var count = 0;
}

<section id="content">
    <div class="container_24">
        <div class="wrapper bg-wrapper">
            <div class="grid_17 suffix_1">
                <h2 class="padd-3">Recipes </h2>
                <div class="main-carousel">
                    <div class="carousel">
                        @for (int i = 0; i < Model.Count(); i += 3)
                        {
                            <div class="row">
                                @for (int j = i; j < i + 3 && j < Model.Count(); j++)
                                {
                                    var item = Model.ElementAt(j);
                                    <div class="grid_5 txt-al suffix_1 marg-left-0">
                                        <img src="@Url.Content("~/Images/" + item.Imagepath)" alt="" class="image" />
                                        <h3 class="top-1">@item.Recipename</h3>
                                        <p class="font-14 top-2">@item.Discription</p>
                                        <h2>Price: @item.Price AED</h2>
                                        <a asp-action="OrderRecipe" asp-controller="CheckOut" asp-route-id="@item.Recipeid" class="button top-1 bot">Order Recipe</a>
                                   <a asp-action="Addwishlist" asp-controller="Custmer" asp-route-id="@item.Recipeid" class="button top-1 bot">Add to favorites</a>

                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="grid_6">
                <div class="box">
                    @foreach (var item in ViewBag.chefname)
                    {
                        <span style="position:center;font-weight:bold" class="title-box left">@item.Fname @item.Lname</span>


                        foreach (var item1 in Model)
                        {
                            if (item.UserId == item1.Userid)
                            {

                                <ul class="list bg-list top-3">
                                    <li><a href="#">@item1.Recipename</a></li>
                                </ul>
                            }

                        }
                    }
                    
                       
                       

                   
                       
                        
                  
                  
                   
                </div>

                <div class="new">
                    <div><span>Video <strong>Recipes</strong></span></div>
                    <a href="#"></a>
                </div>

            </div>

        </div><!--the end of wrapper-->
    </div>
</section>

<style>
    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .carousel {
        overflow: hidden;
    }

    .grid_5 {
        width: calc(33.33% - 20px);
        margin-right: 20px;
        box-sizing: border-box;
    }

